# Ambiente virtuale
venv/

# Python
*.pyc
__pycache__/

# Django
db.sqlite3
.env
/staticfiles/
/media/
*.log
*.txt

# VS Code
.vscode/

# Migrazioni (opzionale)
**/migrations/*.py
!**/migrations/__init__.py




