{% extends 'orchid_verse/base.html' %}

{% block title %}Le tue orchidee{% endblock %}

{% block content %}
<h2>Eventi delle Orchidee</h2>

<p>
  <a href="{% url 'event_create' %}" class="btn btn-primary">➕ Registra nuovo evento</a>
</p>

<ul>
{% for event in events %}
    <li>
        {{ event.date }} - {{ event.event_type }} ({{ event.orchid }})

        {% if event.photo %}
        <br><img src="{{ event.photo.url }}" alt="Foto" style="height: 150px;">
        {% endif %}
    </li>
    {% empty %}
    <li>Nessun evento registrato.</li>
{% endfor %}
</ul>
{% endblock %}
